{% extends "layout.html" %}
{% from "_macros.html" import render_field %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{{ url_for('.index') }}">Home</a></li>
    <li class="active">Add Workout Session</li>
</ul>
<p>
<form method="POST" action=".">
    <dl class="dl-horizontal">
        {% for field in form %}
        {% if field.label.text != 'Csrf Token' %}
        {{ render_field(field) }}
        {% endif %}
        {% endfor %}
    </dl>

    <input type="submit" value="Add">
</form>
</p>

{% endblock %}