{% extends "layout.html" %}
{% block content %}


<div id='calendar'></div>


{% endblock %}

{%block script %}
<script type="text/javascript">
    // Calendar

    $('#calendar').fullCalendar({
        editable: true,
        dragOpacity:{'default':.9},
        eventSources: [
            { url: "{{ url_for('workout_calendar.events')}}",
                error: function () {
                    alert('there was an error while fetching events!');
                }
            }
        ],
        dayClick: function (date, allDay, jsEvent, view) {
            window.location = "{{ url_for('workout_calendar.add_workout_session' ) }}?start=" + date.format()
        },
        eventClick: function (calEvent, jsEvent, view) {
            window.location = "{{ url_for('workout_calendar.edit_workout_session')}}?id=" + calEvent.id
        },
        eventDrop: function (event, revertFunc) {
            window.location = "{{ url_for('workout_calendar.copy_workout_session')}}?id=" + event.id + "&new_start=" + event.start.format()

        }

    })
</script>
{%endblock%}