{% extends "layout.html" %}
{% block main %}
    <div id='calendar'></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        // Calendar

        $('#calendar').fullCalendar({
            editable: true,
            dragOpacity: {'default': .9},
            eventSources: [
                {
                    url: "{{ url_for('wcal.events')}}",
                    error: function () {
                        alert('there was an error while fetching events!');
                    }
                }
            ],
            dayClick: function (date, allDay, jsEvent, view) {
                window.location = "{{ url_for('wcal.workout_add' ) }}?start=" + date.format()
            },
            eventClick: function (calEvent, jsEvent, view) {
                window.location = "{{ url_for('wcal.workout_edit')}}" + calEvent.id
            },
            eventDrop: function (event, revertFunc) {
                window.location = "{{ url_for('wcal.workout_copy')}}" + event.id + "/?new_start=" + event.start.format()

            }

        })
    </script>
{% endblock %}