#menu-bar p, #menu-bar a {
    color: white;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}


.select2-container .select2-choice {
    height: 55px;
    width: 300px;

}

dd {
    margin:5px;
}

td, th {
    padding-right:5px;
    padding-bottom:5px
}